<footer th:fragment="footer">
    <style>
        footer {
            background-color: #f8f8f8;
            padding: 10px;
            text-align: center;
            margin-top: 20px;
            border-top: 1px solid #ddd;
        }
        footer a {
            color: #337ab7;
            text-decoration: none;
        }
        footer a:hover {
            text-decoration: underline;
        }
    </style>
    <div>
        <p>API Documentation: <a href="http://localhost:8080/api/docs">API документация</a></p>
        <p>&copy; 2024 Learning</p> </div>
</footer>