<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <link rel="stylesheet" href="/index/index.css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h1>Выбери язык</h1>
<div>
    <!-- Кнопка для английского языка -->
    <button class="language-btn" onclick="window.location.href='/learn/eng'">English</button>
    <!-- Кнопка для арабского языка, помечена как недоступная -->
    <button class="language-btn disabled" disabled>Arabic (Пока недоступно)</button>
</div>

<h1>Пользователи которые зарегистрировались у нас</h1>
<table>
    <thead>
    <tr>
        <th>Пользователи: </th>
    </tr>
    </thead>
    <tbody id="user-list">
    <tr th:each="user : ${users}">
        <td th:text="${user.username}">Username</td>
    </tr>
    </tbody>
</table>

<script src="/index/index.js"></script>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
