<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="fragments/csrf-meta-fragment" />
    <title>User List</title>
    <link rel="stylesheet" href="/index/index.css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<h1>Выбери язык</h1>
<div>
    <button class="language-btn" onclick="window.location.href='/learn/eng'">English</button>
    <button class="language-btn" onclick="window.location.href='/dictionary/eng'">Английский глоссарий</button>
    <button class="language-btn disabled" disabled>Arabic грамматика (Пока недоступно)</button>
</div>

<div>
    <button class="additional-btn" onclick="window.location.href='/speech'">Проверь свое произношение(английский)</button>
    <button class="additional-btn" onclick="window.location.href='/list'">Ваши результаты</button>
</div>

<div class="user-search-container">
    <h2>Пользователи которые зарегистрировались у нас</h2>
    <form id="userSearchForm" method="get" action="/">
        <input type="text" name="username" placeholder="Найти пользователя"
               th:value="${param.username != null ? param.username[0] : ''}">
        <button type="submit" class="search-btn">Поиск</button>
    </form>

    <table>
        <thead>
        <tr>
            <th>Пользователи</th>
        </tr>
        </thead>
        <tbody id="user-list">
        <tr th:each="user : ${users}">
            <td th:text="${user.username}">Username</td>
        </tr>
        </tbody>
    </table>

    <div class="pagination" th:if="${totalPages > 1}">
        <a th:each="page: ${#numbers.sequence(0, totalPages - 1)}"
           th:href="@{/(page=${page}, username=${param.username != null ? param.username[0] : ''})}"
           th:text="${page + 1}"
           th:class="${page == currentPage ? 'active' : ''}">
        </a>
    </div>
</div>

<script src="/index/index.js"></script>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>