<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="lessonId" content="1">
    <title>English Pronouns Practice</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/test_eng_1/test_eng_1.css">
    <script src="/test_eng_1/test_eng_1.js" defer></script>
</head>
<body>
<div class="progress-bar">
    <div id="progress" class="progress"></div>
</div>

<div id="slides-container">
    <div th:each="questionStat, iterStat : ${questionsWithAnswersByLessonId}">
        <div th:class="${iterStat.index == 0} ? 'slide active' : 'slide'" th:id="${iterStat.index}">
            <h1>Translate the pronoun: <span th:text="${questionStat.questionText}"></span></h1>
            <form class="translation-form" th:data-pronoun="${questionStat.questionText}">
                <input type="hidden" name="questionId" th:value="${questionStat.questionId}">
                <input type="hidden" name="userId" th:value="${userId}">
                <p>Choose the correct translation:</p>
                <div th:each="answer, answerStat : ${questionStat.answers}">
                    <input type="radio" th:name="answer"
                           th:id="${iterStat.index}-${answerStat.index}"
                           th:value="${answer}">
                    <label th:for="${iterStat.index}-${answerStat.index}">
                        <span th:text="${answer}"></span>
                    </label><br>
                </div>
                <button type="submit">Submit</button>
            </form>
            <div class="feedback"></div>
        </div>
    </div>

    <!-- Слайд с результатами -->
    <div class="slide" id="result-slide">
        <h1>Your Results</h1>
        <div id="total-result"></div>
        <button id="restart-btn">Пройти тест заново</button>
        <button id="go_home" class="end-btn">Закончить</button>
    </div>
</div>
</body>
</html>
