<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Результаты уроков</title>
    <th:block th:include="fragments/csrf-meta-fragment" />
    <link rel="stylesheet" th:href="@{/userList/UserList_index.css}" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <h1>Результаты уроков</h1>
    <table>
        <thead>
        <tr>
            <th>Урок</th>
            <th>Лучший результат (%)</th>
            <th>Количество попыток</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="result : ${totalAttempts}">
            <td th:text="${result.lessonId}"></td>
            <td th:text="${result.bestResultPercent}"></td>
            <td th:text="${result.attemptCount}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>